<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/restapp-style.min.css">
    <title>RestApp</title>
</head>
<body class="login-page">
<section>
    <div class="container">
        <div class="wrapper">
            <form action="./" method="post" class="form form-uber-admin">
                <h1 class="form__header">RestApp</h1>
                <div class="form__wrapper">
                    <div class="form__row">
                        <div class="form__col">
                            <div class="form__box">
                            <input type="text" name="ua-login" id="ua-login" placeholder="login">
                                <label for="ua-login">Użytkownik</label>
                            </div>
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__col">
                            <div class="form__box">
                                <input type="password" name="ua-pass" id="ua-pass" placeholder="password">
                                <label for="ua-pass">Hasło</label>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group btn-group--to-right">
                        <button class="btn" type="submit">Zaloguj</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

</body>
</html>